/* 폰트 설정 */
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("source/AppleSDGothicNeoB.ttf");
}

/* 기본 설정 */
html,
body {
  font-family: "AppleSDGothicNeoB";
  height: 100vh;
  overscroll-behavior: contain; /* 스크롤 체이닝 방지 */
  user-select: none; /* 텍스트 선택 방지 */
  overflow-y: hidden;

  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  margin: 10px;
  display: inline-block;
  padding: 20px;
}
